absl-py
astunparse
h5py
huggingface-hub
keras
Keras-Preprocessing
matplotlib
numpy
pandas
Pillow
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tf-estimator-nightly
tokenizers
transformers
evaluate
requests
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability
