###### Requirements without Version Specifiers ######`
pandas
matplotlib
psutil
runipy
###### Requirements with Version Specifiers ######`
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
