absl-py
astunparse
h5py
huggingface-hub
keras
Keras-Preprocessing
matplotlib
numpy
pandas
Pillow
py-cpuinfo
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tf-estimator-nightly
tokenizers
transformers
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
