absl-py
astunparse
h5py
huggingface-hub
keras
Keras-Preprocessing
matplotlib
numpy
pandas
Pillow
py-cpuinfo
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tf-estimator-nightly
tokenizers
transformers
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
